---
layout: default
---

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
        <div id="series">
            {% for series in site.data.series %}
              <h3 id="{{ series.tag_name }}">{{ series.name }}</h3>
              <p>{{ series.desc }}</p>
          
              <ul>
                {% for post in site.categories[series.tag_name] %}
                  <li {% if post.favorite %}class="favorite"{% endif %}>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}
        </div>
    </div>
    <aside class="col-md-4">
      {%- include sidebar.html -%}
    </aside>
  </div>
</main>