<div id="meetupPhotos" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for file in site.static_files %}
            {% if file.path contains include.folder %}
                {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = "meetup" %}
                 <div class="carousel-item {% if forloop.first %}  active {% endif %}">
                    <a href="{{ file.path }}" title="{{ filename }}">
                       <img  class="d-block w-100" src="{{ file.path }}" alt="{{ filename }}" title="{{ filename }}" />
                    </a>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#meetupPhotos" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#meetupPhotos" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
