<div class="p-4 mb-3 bg-light rounded">
    <p class="mb-0">
        {{- site.description | escape -}}
    </p>
</div>

<div class="p-4">
    <h4 class="font-italic">Нас можно найти:</h4>
    {%- include social.html -%}
</div>

<div class="p-4">
    <h4 class="font-italic">Следующий митап:</h4>
    <h5>04.12.2019 с 19:15 до 21:30</h5>
    <a href="/meetup" target="_blank"><img class="img-fluid hoverable" alt="Responsive image" src="/assets/images/next-meetup/cover.jpg"></a>    
</div>

<!-- <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
    {% for yearMonth in postsByYearMonth %}
    <p>{{ yearMonth.name }}</p>
         <ol class="list-unstyled mb-0">
        {% for post in yearMonth.items %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
         </ol>
    {% endfor %}
</div> -->